* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
}

body {
    background-color: #EAE4DA;
}

*{
    user-select: none;
    cursor: default;
}

input:hover {
    cursor:text;
}

.about {
    margin: 80px 160px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.about h2 {
    text-align: center;
    margin-bottom: 8px;
}

.about span {
    font-weight: 600;
}

.about img {
    position: absolute;
    width: 45%;
    right: 60px;
    top: 60%;
    z-index: -1000;
}